# Executable files
#> {PROGRAM_NAME}
utbotgo
#> {SUB_PROGRAM_PATH}
templateApplier/templateApplier

# IDEA directory
.idea

# Directory of marks of make
#> {MARK_DIR}
.make

# Internal additional makefiles
#> {MAKE_DIR}/internal_*
make/internal_*
